{% extends 'main.html' %}

{% block content %}

<table>
    <tr>
        <th>Domain</th>
        <th>Password</th>
        <th>Created</th>
        <th>ID</th>
    </tr>
    {% for password in passwords %}
        <tr>
            <td>{{password.domain}}</td>
            <td>{{password.pwd}}</td>
            <td>{{password.created}}</td>
            <td>{{password.id}}</td>
            <td><a href="{% url 'update' password.id %}">Update</a></td>
            <td><a href="{% url 'delete' password.id %}">Delete</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock content %}